
.phonetic {
  font-style: oblique;
  font-weight: 400;
  color: rgb(37, 37, 37);
}
.translation_fr {
  font-weight: 300;
  font-size: small;
  color: rgb(23, 11, 41);
}
.translation_en {
  font-weight: 300;
  font-size: small;
  color: #2a0600;
}
.searchedExpression {
  color: brown;
  font-weight: 400;
}
.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.notice {
  font-size: xx-small;
}
.input-group {
  display: flex;
  align-items: stretch; /* Assure que l'input et le select sont de même hauteur */
}

.input-group .form-control {
  flex: 3; /* Input occupe 3 parts */
}

.input-group .form-select {
  flex: 1; /* Select occupe 1 part */
}

.input-group .btn-clear {
  flex: 1; /* Le bouton occupe 1 part */
}


/* Table header style */
.table th {
  color: #130b04;
  font-weight: 200;
  font-size: small;
}


.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}
.link-row {
  text-decoration: none;
  color: inherit;
}

.fas {
  color: #007bff;
}


.documentation {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.documentation h1, .documentation h2, .documentation h3 {
  color: #007bff;
}

.documentation ul {
  padding: 0;
  list-style: none;
}

.documentation ul li {
  margin-bottom: 0.5rem;
}

.documentation a {
  color: #007bff;
  text-decoration: none;
}

.documentation a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .documentation {
    padding: 15px;
  }

  .documentation h1 {
    font-size: 1.8rem;
  }

  .documentation h2 {
    font-size: 1.6rem;
  }

  .documentation h3 {
    font-size: 1.4rem;
  }
}